/* TopBar.scss */
.top-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  height: 32px;
}

.activity-image {
  background-color: transparent;
  position: absolute;
  width: 48px;
  height: auto;
}

.nav-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 48px;
  flex: 1; 
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}
