/* Home.css */

.home-container {
    .home-image-section {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .home-image {
        opacity: 0.6;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 80vh;
    }
    
    .home-image-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 20px;
        min-height: 700px;
    }
    
    .home-title {
        font-size: 4rem;
        color: #fff;
        opacity: 1;
    }
    
    .subtitle-text {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        height: 20px;
    }

    .button-container {
        text-align: center;
        margin-top: 50px;
    }

    .home-button {
        background-image: url('../../assets/home/button2-bg.png');
        background-color: transparent;
        background-size: cover;
        width: 100px;
        height: 100px;
        border: none;
        cursor: pointer;
    }
}
