.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s ease;  
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left-button {
  margin-right: 8px;
}

.right-button {
  margin-left: 8px;
}

.carousel-image {
  opacity: 0.9;
  width: 24%;
  height: auto;
  max-height: 24%;
}