.targets-container {
    .home-image-section {
      width: 100%;
      overflow: hidden;
      position: relative;
    }
  
    .targets-image {
      opacity: 0.6;
      position: absolute;
      left: 0;
      top: -30%;
      width: 100%;
      height: auto;
    }
  
    .targets-image-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0 20px;
      min-height: 700px;
    }
  
    .targets-title {
      font-size: 4rem;
      color: #fff;
      opacity: 1;
    }
  
  }