.footer-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #222;
    color: #fff;
    padding: 10px;
  }
  
  .about-box,
  .copyright-box {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .about-box h3,
  .copyright-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .about-box p,
  .copyright-box p {
    font-size: 14px;
  }
  